@import url("https://fonts.googleapis.com/css?family=Oxygen:400,700|Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oxygen", sans-serif;

}
/*base stilovi*/

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/*containers, row and columns*/

.container-full {
  width: 100%;
}

.container {
  margin: 0 12%;
}

.row {
  display: flex;
}

.column-100 {
  width: 100%;
}

.column-80 {
  width: 80%;
}

.column-70 {
  width: 70%;
}
.column-50 {
  width: 50%;
}

.column-30 {
  width: 30%;
}
.column-20 {
  width: 20%;
}

/*type & color*/

.colored {
  color: #a2ca4a;
}

/*header*/

.logo {
  padding-left: 10%;
  padding-top: 1.7%;
  display: flex;
}
.logo-img {
  position: relative;
}
.logo-text {
  margin: auto 10px;
}

.social-contacts {
  display: flex;
  background-color: #a2ca4a;
  color: white;
  height: 72px;
}

.social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.social-networks i {
  font-size: 32px;
  margin: 12px;
  color: white;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.contacts div {
  margin: 5px;
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.contacts a {
  color: white;
}

.contacts a:hover {
  text-decoration: underline;
}

.contacts i {
  margin: 7px;
  font-size: 15px;
 
}

.contacts .fa-envelope{
    font-size: 18px;
}